<h1>Editing course</h1>

<%= render "form", course: @course %>

<br>
<div class="display-1 display-line-height border"></div>
<div>
  <%= link_to "Show this course", @course, class: "btn btn-primary m-2" %> |
  <%= link_to "Back to courses", dashboards_path, class: "btn btn-secondary m-2" %>
</div>
