<h1>New course</h1>

<%= render "form", course: @course %>

<br>
<div class="display-1 display-line-height border"></div>
<div>
  <%= link_to "Back to courses", dashboards_path, class: "btn btn-secondary m-2" %>
</div>
