<h1 class="m-2">Editing batch</h1>

<%= render "form", batch: @batch %>

<br>
<div class="display-1 display-line-height border"></div>
<div>
  <%= link_to "Show this batch", @batch , class: "btn btn-primary m-2"%> |
  <%= link_to "Back to batchs", dashboards_path, class: "btn btn-secondary m-2" %>
</div>
