<h1>New Batch</h1>

<%= render "form", batch: @batch %>

<br>
<div class="display-1 display-line-height border"></div>
<div>
  <%= link_to "Back to batchs", dashboards_path , class: "btn btn-secondary m-2"%>
</div>
